/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "../js/vendor/bootstrap-sass-twbs/assets/stylesheets/bootstrap";

body {
  padding-top: 100px;
}

nav {
  padding-bottom: 20px;
  padding-top: 20px;

  span {
    padding-right: 8px;
    padding-left: 30px;
  }

  button {
    margin-left: 50px;
  }
}

.custom-input {
  @extend .form-control;
  width: 100px;
  display: inline-block;
}

#bet-table td {
  vertical-align: middle;
}