<td><input class="status" type="checkbox" {{#if status}}checked{{/if}}/></td>
<td class="outcome-name">{{name}}</td>
<td><input class="custom-input bet-coefficient" type="number" step="0.1" min="1" value="1"></td>
<td class="zero-bet"></td>
<td><input type="number" class="custom-input bet-over-zero" step="0.01" min="0" value="{{betOverZero}}"></td>
<td class="income"></td>
<td class="income-percentage"></td>
<td class="final-bet"></td>